body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.calculator {
    display: inline-flex;
    flex-direction: column;
    padding: 20px;
    border: thick solid black;
    background-color: #1c1c1c;
}

.screen {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 150px;
    margin-bottom: 20px;
    color: #d4d4d2;
    font-size: 70px;
    border: thin solid white;
}

button {
    width: 80px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    font: Helvetica;
    font-size: 30px;
    background-color: #505050;
    color: white;
}
.row {
    display: flex;
    gap: 5px;
    padding: 5px;
}

#ac,
#negative,
#percentage {
    background-color: #d4d4d2;
    color: black;
}

.operator,
#equal {
    background-color: #ff9500;
}

.clicked {
    color: #ff9500;
    background-color: white;
}

#zero {
    aspect-ratio: 2/1;
    border-radius: 30%;
    flex: 2;
}

